provider "aws" {
  region = "{{ region }}"
}

resource "aws_vpc" "dev_vpc" {
  cidr_block           = "{{ cidr }}"
  enable_dns_hostnames = true

  tags = {
    Name        = "{{ project_name }}-vpc"
    ManagedBy   = "Platform-Portal"
    Owner       = "{{ developer_name }}"
    Environment = "Development"
  }
}

output "vpc_id" {
  value = aws_vpc.dev_vpc.id
}